@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* BEGIN: ANIMACIÓN DE HORMIGAS */

.ant-container {
  position: fixed;
  width: 100%;
  height: 40px;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.ant-container.top {
  top: 0;
}

.ant-container.bottom {
  bottom: 0;
}

.ant-emoji {
  position: absolute;
  font-size: 1em;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0; /* OCULTA AL COMIENZO HASTA QUE EMPIECE LA ANIMACIÓN */
  pointer-events: auto; /* permite clic en las hormigas */
  cursor: pointer;      /* opcional: que el mouse cambie */
}

.ant-container.top .ant-emoji {
  top: 0;
}

.ant-container.bottom .ant-emoji {
  bottom: 0;
}

.ant-container .ant-emoji.right-to-left {
  animation-name: ant-walk-left;
}

.ant-container .ant-emoji.left-to-right  {
  animation-name: ant-walk-right;
}

@keyframes ant-walk-left {
  0%   { transform: translateX(100vw) scaleX(1); opacity: 0; }
  5%   { opacity: 1; }
  95%  { opacity: 1; }
  100% { transform: translateX(-1em) scaleX(1); opacity: 0; }
}

@keyframes ant-walk-right {
  0%   { transform: translateX(-1em) scaleX(-1); opacity: 0; }
  5%   { opacity: 1; }
  95%  { opacity: 1; }
  100% { transform: translateX(100vw) scaleX(-1); opacity: 0; }
}

/* END: ANIMACIÓN DE HORMIGAS */

.ant-container .ant-emoji.on-touch {
  filter: drop-shadow(0 0 4px yellow) brightness(2);
  z-index: 20;
}

.blue-emoji {
  color: blue;
  filter: sepia(1) hue-rotate(190deg) drop-shadow(0 0 .01ex blue) saturate(9);
}

nav {
  white-space: nowrap;
  overflow-x: auto;
}
nav a {
  white-space: nowrap;
}